//
// _breadcrumb.scss
//

// Breadcrumb item arrow
.breadcrumb-item {
    a {
        color: var(--#{$prefix}body-color);

        &:hover {
            color: var(--#{$prefix}primary);
        }
    }
    +.breadcrumb-item {
        &::before {
            font-family: "tabler-icons";
        }
    }
}

// Info button hover effect
.info-button-hover {
    &:hover {
        color: var(--#{$prefix}primary) !important;
    }
}